<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="checktinpinserviceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="checktinpinserviceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://rdws.rd.go.th/serviceRD3/checktinpinservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="checktinpinserviceSoap"
                contract="TaxID.checktinpinserviceSoap" name="checktinpinserviceSoap" />
        </client>
    </system.serviceModel>
</configuration>